body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: white;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
  background-color: white;
}

.bottom-container {
  margin-bottom: 0;
  position: relative;
  top: 100px;
  background-color: #EAF6F6;
  padding: 50px 0 20px;
}

hr {
  margin: 0 auto 0 auto;
  width: 5%;
  border-color: white;
}

h1 {
  font-size: 5.625rem;
  line-height: 2;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento';
}

h2 {
  font-weight: bold;
  font-family: arial;
  color: #66BFBF;
  font-size: 3rem;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Merriweather';
  color: #11999E;
  font-size: 2rem;
}

h4 {
  font-family: 'Sacramento';
  color: #11999E;
  font-size: 2.5rem;
}

p {
  line-height: 2;
  font-family: 'Merriweather';
  font-size: 1rem;
  font-weight: bold;
  color: #40514E;
}

.intro {
  width: 100%;
  margin: auto;
  font-size:2.5rem;
}
.header_image {
  width: 800px;
  height: 350px;
  margin: 0px;
  border-radius:30%;
}


.skill-row {
  width: 50%;
  margin: 200px auto 200px auto;
  text-align: left;
}

.skill-img {
  width: 40%;
  float: left;
  margin-right: 50px;
}

.exp-img {
  width: 30%;
  height: 200px;
  float: left;
  margin-right: 50px;
}

.edu-img {
  width: 30%;
  float: left;
  margin-right: 50px;
}

.cert-img {
  width: 30%;
  height: 200px;
  float: left;
  margin-right: 50px;
}

.portfolio-img {
  width: 30%;
  height: 200px;
  float: left;
  margin-right: 50px;
}

.port-gif {
  width: 220px;
  height: 100px;
}

.contact-img {
  position: relative;
  left: 300px;
  margin: auto;
  width: 30%;
}

.cute-img {
  width: 250px;
  height: 200px;
  margin: 0;
}



.footer-link {
  margin: 0 10px 0 10px;
  filter: brightness(1.5);
}

a {
  text-decoration: none;
}

a:hover {
  color: #bce6eb;
}

<style type="text/css">
.classname {
	-moz-box-shadow:inset 0px 1px 3px 0px #2b665e;
	-webkit-box-shadow:inset 0px 1px 3px 0px #2b665e;
	box-shadow:inset 0px 1px 3px 0px #2b665e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c) );
	background:-moz-linear-gradient( center top, #768d87 5%, #6c7c7c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c');
	background-color:#768d87;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
text-indent:0;
	border:1px solid #566963;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:normal;
	font-style:normal;
height:55px;
	line-height:55px;
width:150px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px -1px 0px #528ecc;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87) );
	background:-moz-linear-gradient( center top, #6c7c7c 5%, #768d87 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87');
	background-color:#6c7c7c;
}.classname:active {
	position:relative;
	top:1px;
}</style>
