body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: white;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
  background-color: white;
}

.bottom-container {
  margin-bottom: 0;
  position: relative;
  top: 100px;
  background-color: #EAF6F6;
  padding: 50px 0 20px;
}

hr {
  margin: 0 auto 0 auto;
  width: 5%;
  border-color: white;
}

h1 {
  font-size: 5.625rem;
  line-height: 2;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento';
}

h2 {
  font-weight: bold;
  font-family: arial;
  color: #66BFBF;
  font-size: 3rem;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Merriweather';
  color: #11999E;
  font-size: 2rem;
}

h4 {
  font-family: 'Sacramento';
  color: #11999E;
  font-size: 2.5rem;
}

p {
  line-height: 2;
  font-family: 'Merriweather';
  font-size: 1rem;
  font-weight: bold;
  color: #40514E;
}

.intro {
  width: 100%;
  margin: auto;
}
.header_image {
  width: 95%;
  height: 230px;
  margin: 0px;
  padding:20px;
}


.skill-row {
  width: 50%;
  margin: 200px auto 200px auto;
  text-align: left;
}

.skill-img {
  width: 30%;
  float: left;
  margin-right: 50px;
}

.exp-img {
  width: 30%;
  height: 200px;
  float: left;
  margin-right: 50px;
}

.edu-img {
  width: 30%;
  float: left;
  margin-right: 50px;
}

.cert-img {
  width: 30%;
  height: 200px;
  float: left;
  margin-right: 50px;
}

.portfolio-img {
  width: 30%;
  height: 200px;
  float: left;
  margin-right: 50px;
}

.port-gif {
  width: 220px;
  height: 100px;
}

.contact-img {
  position: relative;
  left: 300px;
  margin: auto;
  width: 30%;
}

.cute-img {
  width: 200px;
  height: 200px;
  margin: 0;
}



.footer-link {
  margin: 0 10px 0 10px;
  filter: brightness(1.5);
}

a {
  text-decoration: none;
}

a:hover {
  color: #bce6eb;
}
